@import '../../../assets/styles/variables';

$shadow: 0 10px 10px 0 rgb(0 0 0 / 15%), 0 6px 6px 0 rgb(0 0 0 / 15%),
0 3px 3px 0 rgb(0 0 0 / 15%);
.heading{
  font-size: 1.875rem;
  @media (min-width: 280px) and (max-width: 450px){
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
.collections {
  @apply flex flex-wrap items-center mt-10 ;
  @media (max-width: 1200px){
    justify-content: space-around;
  }

  > a {
    @apply mr-8 animate-fade;
    @media (max-width: 1200px){
      margin-right: 0rem;
    }

  }

  > a:nth-child(3n) {
    @apply mr-0;
    @media (max-width: 1200px){
      margin-right: 0rem;
    }
  }
}

.collection {
  @apply relative flex items-end mb-10 h-44 transition-transform;
  width: 30%;
  @media (min-width: 280px) and (max-width: 700px){
    width: 100%;
  }

  @include fade-bg-gradient(0deg);
  &::before {
    @apply rounded-layout;
  }

  img {
    @apply rounded-layout image-like-bg;
    box-shadow: $shadow;
  }

  > span {
    @apply z-1;
  }

  .behind {
    @apply absolute overflow-hidden z-0 transition-transform;

    &.second {
      @apply opacity-60 -top-1.5 left-2.5 right-2.5 bottom-4;
    }

    &.third {
      @apply opacity-40 -top-3 left-5 right-5 bottom-8;
    }
  }

  &:hover {
    @apply -translate-y-1;

    .behind {
      &.second {
        transform: translateY(1px);
      }

      &.third {
        transform: translateY(2px);
      }
    }
  }

  .content {
    @apply relative z-2 text-center m-3 w-full;

    .title {
      @apply font-semibold mb-1 text-white text-shadow;
    }
  }
}
