
.app__navbar{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.3rem 1rem;

  background: rgba(25, 27, 31, 0.81);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(128, 5, 5, 0.71);

  position:fixed;
  z-index: 10;
  @media (min-width: 1200px){
    display: none;
  }
}

.app__navbar_menu{
  width: 35px;
  height: 35px;

  border-radius: 50%;

  background: #e30b13;

  @media (min-width: 280px) and (max-width: 450px){
    width: 28px;
    height: 28px;
  }

  svg{
    width: 100%;
    height: 100%;
  }
  div{
    ul {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;

      padding: 1rem;
      width: 70%;
      height: 100vh;
      overflow-y: scroll;

      background: #191B1F;
      box-shadow: 0 0 10px rgba(128, 5, 5, 0.71);
      transition: transform 1.5s ease-in-out;
      @media(min-width: 450px) and (max-width: 1200px){
        width: 50%;
      }

      @media (min-width: 280px) and (max-width: 450px){
        width: 70%;
      }

      svg{
        width: 35px;
        height: 35px;
        color: #e30b13;
        margin: 0.5rem 1rem;
        z-index: 10;
        @media (min-width: 280px) and (max-width: 700px){
          width: 30px;
          height: 30px;
        }
      }
      ul div {
        transition: transform 1.5s ease-in-out;
      }
      ul{
        transition: transform 1.5s ease-in-out;
        list-style: none;

        margin: 0;
        padding: 0;

        height: 100%;

        display: contents;

        div{
          display: flex;
          flex-direction: column;
        }

        li:first-child{
          margin-top: 1rem;
        }
      }

      @media screen  and (min-width:1200px) {
        display: none;
      }
    }
  }



  @media screen  and (min-width:1200px) {
    display: none;
  }
}