.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.3rem 1rem;

  background: rgba(25, 27, 31, 0.81);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 0 10px rgba(128, 5, 5, 0.71);

  position: fixed;
  z-index: 10;

  @media screen and (min-width:1200px) {
    display: none;
  }
}
.mobile_navbar{
  position: fixed;
  top: -27px;
  right: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  box-shadow: 0 0 10px rgba(128, 5, 5, 0.71);
  @media screen and (min-width:1200px) {
    display: none;
  }
}
.inner_nav{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #191B1F;
  overflow-y: scroll;
  margin-top: 36px;
  div{
    ul{

      li{
        a{
          margin: 20px 0 15px 0;

          svg{
            width: 28px;
            margin: 5px;
          }
        }
      }
    }
  }
}

.toggle{
  background-color: #e30b13;
  z-index: 101;
  position: fixed;
  outline: 0;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 19px;
  right: 15px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width:1200px) {
    display: none;
  }
}